<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
  </head>
  <body>
    <li><%= link_to "出席簿",   '#' %></li>
    <li><%= link_to "時間割",   '#' %></li>
    <li><%= link_to "アカウント", '#' %></li>
  </body>
</html>
