<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= image_tag 'logo_long.png', :size => '284x41', :align => 'left' %>
    <ul class="nav navbar-nav navbar-right" style="color: #7f4702">
      <% if $mode == "office" %>
        <li><%= link_to "Home", sessions_menu_path %></li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
      <% end %>
      <li><%= link_to "Log in", root_path %></li>
    </ul>
  </div>
</nav>
