<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= image_tag 'logo_long.png', :size => '284x41', :align => 'left' %>
    <ul class="nav navbar-nav navbar-right" style="color: #7f4702">
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Log in", '#' %></li>
    </ul>
  </div>
</nav>
