@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #fafacd;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

table {
  table-layout: fixed;
}

th {
  border-width: 3px;
  text-align: center;
  width: 100px;
}

td {
  word-break : break-all;
  border: 3px solid gray;
  /*text-align: center;*/
  height: 25px;
}

.absence1 {
   background-color: #FF3939;
   /*background-image: linear-gradient(-45deg, transparent 49%, black 49%, black 51%, transparent 51%, transparent);*/
}
.absence2 {
   background-color: #F0E68C;
   /*background-image: linear-gradient(-45deg, transparent 49%, black 49%, black 51%, transparent 51%, transparent);*/
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

.navbar-default {
  background-color: #e68e1f;
}

.navbar-default .navbar-nav > li > a {
  background-color: #000000;
  color: #ffffff;
}
/*
.navbar-fixed-top .navbar-nav > li {
  color: #0000ff;
}*/


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
